.footer {
  padding-top: 2rem;
  background-color: #d1cab3;
}

img {
  display: block; /* Transforma a imagem em um bloco para aplicar margens */
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
}

.contact-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.made {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "fira sans condensed", "roboto", "fira sans", "arial";
  font-size: 1.1rem;
  padding: 10px;
  background-color: #dbd5c2;
}
