.project {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.project .subtitle {
  color: #d1cab3;
}

.project-text {
  font-family: "bebas neue pro", "roboto", "fira sans", "arial", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  line-height: 1.6rem;
  padding-top: 30px;
  padding-left: 1px;
  max-width: 25ch;
  color: #9c9b9b;
}
